.even
{
    background-color: lightgray;
}
.odd
{
    background-color: gray;
}
td
{
    width: 10px;
    height: 10px;
}
container
{
    width: 100%;
    height: 100%;
}
h1
{
    text-align: center;
}
table
{
    
}